# add all non package related material
include LICENSE
include Makefile
include README.md
include CONTRIBUTING.md
include CHANGELOG.md
include requirements-dev.txt
include requirements.txt
include fi.iki.bcow.flubber.desktop

# add all runtime required files into install package
recursive-include flubber *.xml

# include tests and test resources
recursive-include tests *.py resources/*
recursive-exclude tests *.pyc
