# add all non package related material
include LICENSE
include Makefile
include README.md
include requirements-dev.txt
include requirements.txt

# add all runtime required files into install package
recursive-include flubber *.xml
